* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial;
}

body {
	background: radial-gradient(
		circle, 
		#343a4b 1%,
		#1a1f26 100%
	);
}

.form {
	display: flex;
	justify-content: space-evenly;
	padding-top: 50px;
}

.left, .right {
	width: 45%;
	color: #00d5df;
}

/*.left {
	display: flex;
	flex-direction: column;
}*/

.left textarea:focus {
	border: 2px solid#00d5df;
}

textarea {
	width: 100%;
	height: 300px;
	padding: 18px;
	font-size: 15px;
	background-color: #f6f1f1;
	border-radius: 20px;
	outline: none;
	resize: none;
}

textarea::-webkit-scrollbar {
	border-radius: 40px;
}

textarea::-webkit-scrollbar-thumb {
	border-radius: 40px;
	background-color: #999;
	overflow: hidden;
}

textarea::-webkit-scrollbar-button {
	color: none;
	height: 7px;
}

button {
	background-color: #00989f;
	color: #f6f1f1;
	padding: 10px;
	border-radius: 20px;
	font-size: 15px;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
}

button:hover {
	background-color: #00b8bf
}